<h1>Cart#show</h1>

<% @cart_items.each do |cart_item|%>
  <h2><%= cart_item.product.name %></h2>
  <p>Code: <%= cart_item.product.code%> </p>
  <p>Price: <%= cart_item.product.price%> </p>
  <%= form_with model: @cart_item do |f| %>
    <%= f.hidden_field :product_id, value: cart_item.product.id %>
    <%= f.number_field :quantity, value: cart_item.quantity, min: 1 %>
    <%= f.submit "Add to Cart" %>
  <% end %>
<% end %>

<hr>

<%= button_to('Delete cart', cart_path, method: :delete) %>
